{% extends "::base_admin.html.twig" %}

{% block title %}Главная панель - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #map {
            height: 400px;
            margin: 20px 0 20px 0;
        }
    </style>
{% endblock %}

{% block contentheader %}
    Главная панель
{% endblock %}

{% block content %}
    <h4><strong>Текущее состояние</strong></h4>
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 42.85409, lng: 74.62833},
                zoom: 13
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-bUJ1zdRIcv15XacvLVPBxsMqmGHWWpE&callback=initMap"
            async defer>

    </script>
{% endblock %}