{% extends "::base_admin.html.twig" %}

{% block title %}{{ 'admin.title.dashboard'|trans }} - {{ parent() }}{% endblock %}

{% block contentheader %}
    {{ 'admin.title.dashboard'|trans }}
{% endblock %}

{% block content %}
    <h4><strong>Текущее состояние</strong></h4>
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var map;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 42.85409, lng: 74.62833},
                zoom: 13
            });

            map.addListener('click', function(e) {
                var marker = new google.maps.Marker({
                    position: e.latLng,
                    map: map,
                });

                marker.addListener('click', function() {
                    this.setMap(null);
                });
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-bUJ1zdRIcv15XacvLVPBxsMqmGHWWpE&callback=initMap"
            async defer>

    </script>
{% endblock %}